// Color 
// #bda270  #8E7F62 #7B5D24 #DEC69A #DECDAC
// p #DEC68A #C8B484 #BFA35F #E5CE97 #E5D09E
// #f3df98
$primary-color: #f3df98;
$dark-color: #30302f;
$info-color: #edda95;
$success-color: #00cc66;
$warning-color: #ff9900;
$error-color: #ff3300;
$link-color: #bfac74;
$link-hover-color: tint($link-color, 20%);
$link-active-color: shade($link-color, 5%);
$selected-color: fade($primary-color, 90%);
$tooltip-color: #fff;
$subsidiary-color: #9ea7b4;
$rate-star-color: #f5a623;

// Tag
$tag-font-size: 12px;

// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-xs-max: ($screen-xs-min - 1);

// Small screen / tablet
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-sm-max: ($screen-sm-min - 1);

// Medium screen / desktop
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-md-max: ($screen-md-min - 1);

// Large screen / wide desktop
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-lg-max: ($screen-lg-min - 1);

// Z-index
$zindex-adjust-hue: 8;
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-select: 900;
$zindex-modal: 1000;
$zindex-message: 1010;
$zindex-notification: 1010;
$zindex-tooltip: 1060;
$zindex-loading-bar: 2000;

// Animation
$animation-time: 0.3s;
$transition-time: 0.2s;
$ease-in-out: ease-in-out;

$spacer-base: 16px;
$spacer-direction: t, b, l, r, x, y, a;
$spacer-scale: 0, 0.25, 0.5, 1, 1.5, 3;

//padding  margin
@for $i from 0 to length($spacer-scale) {
  $spacer-total: $spacer-base * nth($spacer-scale, ($i + 1));
  .mt-#{$i} {
    margin-top: $spacer-total !important;
  }
  .mb-#{$i} {
    margin-bottom: $spacer-total !important;
  }
  .ml-#{$i} {
    margin-left: $spacer-total !important;
  }
  .mr-#{$i} {
    margin-right: $spacer-total !important;
  }
  .mx-#{$i} {
    margin-left: $spacer-total !important;
    margin-right: $spacer-total !important;
  }
  .my-#{$i} {
    margin-top: $spacer-total !important;
    margin-bottom: $spacer-total !important;
  }
  .ma-#{$i} {
    margin: $spacer-total !important;
  }

  .pt-#{$i} {
    padding-top: $spacer-total !important;
  }
  .pb-#{$i} {
    padding-bottom: $spacer-total !important;
  }
  .pl-#{$i} {
    padding-left: $spacer-total !important;
  }
  .pr-#{$i} {
    padding-right: $spacer-total !important;
  }
  .px-#{$i} {
    padding-left: $spacer-total !important;
    padding-right: $spacer-total !important;
  }
  .py-#{$i} {
    padding-top: $spacer-total !important;
    padding-bottom: $spacer-total !important;
  }
  .pa-#{$i} {
    padding: $spacer-total !important;
  }
}

//justify-content
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-space-around {
  justify-content: space-around;
}

//flex-wrap
.f-nowrap {
  flex-wrap: nowrap;
}
.f-wrap {
  flex-wrap: wrap;
}
.f-reverse {
  flex-wrap: wrap-reverse;
}

//flex-direction
.f-row {
  flex-direction: row;
}
.f-row-reverse {
  flex-direction: row-reverse;
}
.f-col {
  flex-direction: column;
}
.f-col-reverse {
  flex-direction: column-reverse;
}

//align-items
.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-stretch {
  align-items: stretch;
}

//align-content
.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-content-space-between {
  align-content: space-between;
}
.align-content-space-around {
  align-content: space-around;
}
.align-content-stretch {
  align-content: stretch;
}

//display
.d-if {
  display: inline-flex;
}
.d-f {
  display: flex;
}

// color
.primary-color {
  color: $primary-color;
}

.info-color {
  color: $info-color;
}

.success-color {
  color: $success-color;
}

.warning-color {
  color: $warning-color;
}

.error-color {
  color: $error-color;
}
